.container {
  display: flex;
  flex-direction: column; /* Mantiene layout verticale */
  align-items: center; /* Centra orizzontalmente */
  justify-content: start; /* Oppure center se vuoi anche verticale */
  min-height: 100vh; /* Fa occupare l’intera altezza pagina */
  padding-top: 2rem; /* Spazio dal top */
  text-align: center; /* Centra il testo interno */
}


.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  &.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
}



